<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Login page</title>
    <style>
        .container {
            padding: 50px;
        }
    </style>
</head>
<body>
    <div class="container">
        <form action="/INE11_PHP_JS_Proj/game.php" method="GET">
            <input type="hidden" name="command" value="login" />
            <p>Inserez votre login</p>
            <input type="text" id = name name="name">
            <input type="submit"/>
        </form>
    </div>
</body>
</html>